.form-control {
  width: 100px!important;
}
.jumbotron {
  background-image: linear-gradient(to bottom right, green, yellow);
}
.jumbotron-heading {
   font-size: 60px;
   color: white;
}
<<<<<<< HEAD:wimbeldon_serve/static/styles/mystyle.css
=======
.text-muted {
   color: white;

}
.table td{
  vertical-align: middle;
}
>>>>>>> P-H-A-T-style-changes:wimbeldon_serve/templates/mystyle.css
