.form-control {
  width: 100px!important;
}
.jumbotron {
  background-image: linear-gradient(to bottom right, green, yellow);
}
.jumbotron-heading {
   font-size: 60px;
   color: white;
}
.text-muted {
   color: white;

}
.table td{
  vertical-align: middle;
}

#button_boy {
  background-color: blue;
}
