<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/styles/mystyle.css">

  </head>

  <body>
  <div class="content-section">
    <form method="POST" action="">
     {{ form.hidden_tag() }}
      <fieldset class="form-group">
        <div class="form-group">
          {{ form.username(class="form-control form-control-lg") }}
        </div>
      </fieldset>
      <div class="form-group">
        {{ form.submit(class="btn btn-outline-info") }}
      </div>
    </form>
  </div>

  <button class="button_boy" onclick="hide()">Click me</button>


    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Stress Calculator</h1>
        <p class="lead text-muted">Calculates your grades and GPA based on grading criteria.</p>

      </div>
    </section>
    <ul class="nav nav-tabs">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Class 1</a></li>
      <li><a href="#">Class 2</a></li>
      <li><a href="#">Class 3</a></li>
    </ul>
    </div>

    <table class="table">
    <thead>
    <tr>
      <th scope="col">Category</th>
      <th scope="col">Percentage of Grade</th>
      <th scope="col">Total Percentage</th>

    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <div>
                <select class="custom-select d-block w-100" id="category" required="">
                  <option value="">Choose...</option>
                  <option>Exams</option>
                  <option>Quizzes</option>
                  <option>Homework</option>
                </select>
                <div class="invalid-feedback">
                  Please select a valid category.
                </div>
          </div>
        </td>
      <td>
         <form>
                <div class="form-group">
                  <label for="exampleFormControlInput1"></label>
                  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="%">
                </div>
              </td>
            </form>
          </td>
            <td>
              <form>
                <div class="form-group">
                  <label for="exampleFormControlInput1"></label>
                  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="%">
                </div></td>
              </form>

    </tr>
    <tr>
      <td>
        <div>
                <select class="custom-select d-block w-100" id="category" required="">
                  <option value="">Choose...</option>
                  <option>Exams</option>
                  <option>Quizzes</option>
                  <option>Homework</option>
                </select>
                <div class="invalid-feedback">
                  Please select a valid category.
                </div>
          </div>
        </td>
      <td>
        <form method="POST">
          <div class="form-group">
            <label for="exampleFormControlInput1"></label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="%">
          </div>
        </td>
        </form>
    </tr>
    <tr>
      <td>
        <div>
                <select class="custom-select d-block w-100" id="category" required="">
                  <option value="">Choose...</option>
                  <option>Exams</option>
                  <option>Quizzes</option>
                  <option>Homework</option>
                </select>
                <div class="invalid-feedback">
                  Please select a valid category.
                </div>
          </div>
        </td>
      <td>
        <form>
          <div class="form-group">
            <label for="exampleFormControlInput1"></label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="%">
          </div>
        </td>
        </form>
    </tr>
    <tr>
        <td>
          <div>
                  <select class="custom-select d-block w-100" id="category" required="">
                    <option value="">Choose...</option>
                    <option>Exams</option>
                    <option>Quizzes</option>
                    <option>Homework</option>
                  </select>
                  <div class="invalid-feedback">
                    Please select a valid category.
                  </div>
            </div>
          </td>
        <td>
          <form>
                  <div class="form-group">
                    <label for="exampleFormControlInput1"></label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="%">
                  </div>
                </td>
                </form>
              </td>
      </tr>
      <tr>
          <td>
            <div>
                    <select class="custom-select d-block w-100" id="category" required="">
                      <option value="">Choose...</option>
                      <option>Exams</option>
                      <option>Quizzes</option>
                      <option>Homework</option>
                    </select>
                    <div class="invalid-feedback">
                      Please select a valid category.
                    </div>
              </div>
            </td>
          <td>
             <form>
                    <div class="form-group">
                      <label for="exampleFormControlInput1"></label>
                      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="%">
                    </div>
                  </td>
                  </form>
                </td>
        </tr>
    </tr>
    </tbody>
    </table>
    <p>
      <a href="#" class="btn btn-primary my-2">Next</a>

    </p>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <!-- Custom JQuery File -->
    <script src="../static/js/my_javascript.js"></script>
  </body>
</html>
