<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="mystyle.css">

    <title>Hello, world!</title>
  </head>

  <body>

  <main role="main">


    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Stress Calculator</h1>
        <p class="lead text-muted">Calclates your grades and GPA based on grading criteria.</p>
        <p>
          <a href="#" class="btn btn-primary my-2">Main call to action</a>
          <a href="#" class="btn btn-secondary my-2">Secondary action</a>
        </p>
      </div>
    </section>
    <table class="table">
    <thead>
    <tr>
      <th scope="col">Category</th>
      <th scope="col">Percentage of Grade</th>
      <th scope="col">Total Percentage</th>

    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">  <div class="col-md-5 mb-3">

                <select class="custom-select d-block w-100" id="category" required="">
                  <option value="">Choose...</option>
                  <option>Exams</option>
                  <option>Quizzes</option>
                  <option>Homework</option>
                </select>
                <div class="invalid-feedback">
                  Please select a valid category.
                </div>
          </div></th>
      <td>
         <form>
                <div class="form-group">
                  <label for="exampleFormControlInput1"></label>
                  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="%">
                </div></td>
            </form> </td>
            <td>
              <form>
                <div class="form-group">
                  <label for="exampleFormControlInput1"></label>
                  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="%">
                </div></td>
              </form>

    </tr>
    <tr>
      <th scope="row">  <div class="col-md-5 mb-3">

                <select class="custom-select d-block w-100" id="category" required="">
                  <option value="">Choose...</option>
                  <option>Exams</option>
                  <option>Quizzes</option>
                  <option>Homework</option>
                </select>
                <div class="invalid-feedback">
                  Please select a valid category.
                </div>
          </div></th>
      <td>
        <form>
          <div class="form-group">
            <label for="exampleFormControlInput1"></label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="%">
          </div></td>
        </form>
    </tr>
    <tr>
      <th scope="row">  <div class="col-md-5 mb-3">

                <select class="custom-select d-block w-100" id="category" required="">
                  <option value="">Choose...</option>
                  <option>Exams</option>
                  <option>Quizzes</option>
                  <option>Homework</option>
                </select>
                <div class="invalid-feedback">
                  Please select a valid category.
                </div>
          </div></th>
      <td>
        <form>
          <div class="form-group">
            <label for="exampleFormControlInput1"></label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="%">
          </div></td>
        </form>

    </tr>  <tr>
        <th scope="row">  <div class="col-md-5 mb-3">

                  <select class="custom-select d-block w-100" id="category" required="">
                    <option value="">Choose...</option>
                    <option>Exams</option>
                    <option>Quizzes</option>
                    <option>Homework</option>
                  </select>
                  <div class="invalid-feedback">
                    Please select a valid category.
                  </div>
            </div></th>
        <td>
          <form>
                  <div class="form-group">
                    <label for="exampleFormControlInput1"></label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="%">
                  </div></td>
                </form></td>

      </tr>  <tr>
          <th scope="row">  <div class="col-md-5 mb-3">

                    <select class="custom-select d-block w-100" id="category" required="">
                      <option value="">Choose...</option>
                      <option>Exams</option>
                      <option>Quizzes</option>
                      <option>Homework</option>
                    </select>
                    <div class="invalid-feedback">
                      Please select a valid category.
                    </div>
              </div></th>
          <td>
             <form>
                    <div class="form-group">
                      <label for="exampleFormControlInput1"></label>
                      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="%">
                    </div></td>
                  </form></td>

        </tr>
    </tr>
    </tbody>
    </table>


<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js" integrity="sha384-vhJnz1OVIdLktyixHY4Uk3OHEwdQqPppqYR8+5mjsauETgLOcEynD9oPHhhz18Nw" crossorigin="anonymous"></script>

  </body>
</html>
